@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f3f8;
  --foreground: #1b2128;
  --lightblue: #dae6f2;
  --backgroundbox: #fcfcfe;
  --primary: #94b8dc;
  --accent: #bacee8;
  --dark: #3f6589;
  --primaryl: #bad2e9;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f0f3f8;
    --foreground: #1b2128;
    --lightblue: #dae6f2;
    --backgroundbox: #fcfcfe;
    --primary: #94b8dc;
    --accent: #bacee8;
    --dark: #3f6589;
    --primaryl: #bad2e9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--backgroundbox);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--lightblue);
  border-radius: 8px;
}

html {
  /*fix select shad*/
  overflow-y: scroll;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 1.1px;
  background: conic-gradient(#0000 10%,#bad2e9) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
       radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 9px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
  to {
     transform: rotate(1turn);
  }
}